<div class="container text-center">
  <h1>Instawow</h1>
  <p>Find best amazing girls</p>

  <p>
    A lot of new products on <%= @today %>
  </p>
  <%= link_to "All products", products_path, class: "btn btn-success" %>
</div>

