<div class="container text-center">
  <h1>Members a Team</h1>

  <%= cl_image_tag "r3ka7xjcdufoni7agkyg", height: 200 %>

  <ul>
    <% @members.each do |member| %>
      <li><%= member %></li>
    <% end %>
  </ul>

</div>
